{% extends 'base.html' %}

{% block title %}Heatmaps{% endblock title %}

{% block content %}
<h1>Pitcher Heatmaps</h1>

<form method="GET" class="mb-4">
    <label for="pitcher">Select a Pitcher:</label>
    <select name="pitcher" id="pitcher" class="form-select">
        <option value="">All Pitchers</option>
        {% for pitcher in pitchers %}
        <option value="{{ pitcher }}" {% if pitcher == selected_pitcher %}selected{% endif %}>{{ pitcher }}</option>
        {% endfor %}
    </select>

    <label for="pitchtype">Select a Pitch Type:</label>
    <select name="pitchtype" id="pitchtype" class="form-select">
        <option value="">All Pitch Types</option>
        {% for pitchtype in pitchtypes %}
        <option value="{{ pitchtype }}" {% if pitchtype == selected_pitchtype %}selected{% endif %}>{{ pitchtype }}</option>
        {% endfor %}
    </select>

    <label for="heatmapType">Select Heatmap Type:</label>
    <select name="heatmapType" id="heatmapType" class="form-select">
        <option value="location" {% if selected_heatmapType == 'location' %}selected{% endif %}>Location</option>
        <option value="exitVelo" {% if selected_heatmapType == 'exitVelo' %}selected{% endif %}>Exit Velocity</option>
        <option value="whiffs" {% if selected_heatmapType == 'whiffs' %}selected{% endif %}>Whiffs</option>
    </select>

    <button type="submit" class="btn btn-secondary mt-2">Generate Report</button>
</form>

{% if heatmap %}
<img src="data:image/png;base64,{{ heatmap }}" alt="Heatmap">
{% endif %}
{% endblock content %}
